<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	 
	<context:component-scan base-package="club.fsCommunity.controller"></context:component-scan>
	
	
	<mvc:annotation-driven></mvc:annotation-driven>
	
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	 
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
	    <property name="maxUploadSize" value="3145728" />    
	</bean>
	
	
	<mvc:interceptors>
		
		
		
		<mvc:interceptor> 
            <mvc:mapping path="/**" />
            <bean class="club.fsCommunity.interceptor.PassportInterceptor" />
        </mvc:interceptor>
         
        
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/" />
            <mvc:exclude-mapping path="/initreg" />
            <mvc:exclude-mapping path="/initlogin" />
            <mvc:exclude-mapping path="/imageCode" />
            <mvc:exclude-mapping path="/uploadImage" />
            <mvc:exclude-mapping path="/reg" />
            <mvc:exclude-mapping path="/login" />
            <mvc:exclude-mapping path="/initwebsiteIntroduction" />
            <mvc:exclude-mapping path="/inittermsOfService" />
            <mvc:exclude-mapping path="/regActive" />
            <mvc:exclude-mapping path="/**/fonts/*"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.jpeg"/>
            <bean class="club.fsCommunity.interceptor.CheckLoginInterceptor" />
        </mvc:interceptor>
        
        
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/" />
            <mvc:exclude-mapping path="/initreg" />
            <mvc:exclude-mapping path="/initlogin" />
            <mvc:exclude-mapping path="/imageCode" />
            <mvc:exclude-mapping path="/uploadImage" />
            <mvc:exclude-mapping path="/reg" />
            <mvc:exclude-mapping path="/login" />
            <mvc:exclude-mapping path="/initwebsiteIntroduction" />
            <mvc:exclude-mapping path="/inittermsOfService" />
            <mvc:exclude-mapping path="/user/initUserIndex" />
            <mvc:exclude-mapping path="/user/initUserSet" />
            <mvc:exclude-mapping path="/user/updateUserGameName" />
            <mvc:exclude-mapping path="/user/updateUserHeadUrl" />
            <mvc:exclude-mapping path="/user/updateUserPassword" />
            <mvc:exclude-mapping path="/logout" />
            <mvc:exclude-mapping path="/regActive" />
            <mvc:exclude-mapping path="/sendActEmailAgain" />
            <mvc:exclude-mapping path="/**/fonts/*"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.jpeg"/>
            <bean class="club.fsCommunity.interceptor.UserActivateInterceptor" />
        </mvc:interceptor>
         
	</mvc:interceptors>
	
	
	
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**"/>  
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**"/>
	<mvc:resources location="/WEB-INF/res/" mapping="/res/**"/>
	<mvc:resources location="/" mapping="/**/*.js"/>
	<mvc:resources location="/" mapping="/**/*.css"/>
	
</beans>