<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 配置包扫描器 --> <!-- 把 @Controller 注解的类  放到 springmvc 的容器中。注意，不是放到 spring 的容器 -->
	<context:component-scan base-package="club.fsCommunity.controller"></context:component-scan>
	
	<!-- 配置注解驱动 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	
	<!-- 视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- 设置上传文件最大值   1M=1*1024*1024(B)=1048576 bytes  --> 
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
	    <property name="maxUploadSize" value="3145728" />   <!-- 3M --> 
	</bean>
	
	<!-- 配置spring mvc拦截器 -->
	<mvc:interceptors>
		<!-- 默认拦截 web.xml 里的  DispatcherServlet指定的后缀（这里是 / ） -->
		<!-- 
			mvc:mapping 拦截器路径配置
			mvc:exclude-mapping 拦截器不需要拦截的路径
			拦截器的执行顺序就是配置的顺序
		 -->
		
		<mvc:interceptor> <!-- 网站入口拦截器 -->
            <mvc:mapping path="/**" />
            <bean class="club.fsCommunity.interceptor.PassportInterceptor" />
        </mvc:interceptor>
         
        <!-- 检查登陆拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/" />
            <mvc:exclude-mapping path="/initreg" />
            <mvc:exclude-mapping path="/initlogin" />
            <mvc:exclude-mapping path="/imageCode" />
            <mvc:exclude-mapping path="/uploadImage" />
            <mvc:exclude-mapping path="/reg" />
            <mvc:exclude-mapping path="/login" />
            <mvc:exclude-mapping path="/initwebsiteIntroduction" />
            <mvc:exclude-mapping path="/inittermsOfService" />
            <mvc:exclude-mapping path="/regActive" />
            <mvc:exclude-mapping path="/**/fonts/*"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.jpeg"/>
            <bean class="club.fsCommunity.interceptor.CheckLoginInterceptor" />
        </mvc:interceptor>
        
        <!-- 检查 登陆并且激活 的拦截器 -->
        <mvc:interceptor>
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/" />
            <mvc:exclude-mapping path="/initreg" />
            <mvc:exclude-mapping path="/initlogin" />
            <mvc:exclude-mapping path="/imageCode" />
            <mvc:exclude-mapping path="/uploadImage" />
            <mvc:exclude-mapping path="/reg" />
            <mvc:exclude-mapping path="/login" />
            <mvc:exclude-mapping path="/initwebsiteIntroduction" />
            <mvc:exclude-mapping path="/inittermsOfService" />
            <mvc:exclude-mapping path="/user/initUserIndex" />
            <mvc:exclude-mapping path="/user/initUserSet" />
            <mvc:exclude-mapping path="/user/updateUserGameName" />
            <mvc:exclude-mapping path="/user/updateUserHeadUrl" />
            <mvc:exclude-mapping path="/user/updateUserPassword" />
            <mvc:exclude-mapping path="/logout" />
            <mvc:exclude-mapping path="/regActive" />
            <mvc:exclude-mapping path="/sendActEmailAgain" />
            <mvc:exclude-mapping path="/**/fonts/*"/>
            <mvc:exclude-mapping path="/**/*.css"/>
            <mvc:exclude-mapping path="/**/*.js"/>
            <mvc:exclude-mapping path="/**/*.png"/>
            <mvc:exclude-mapping path="/**/*.gif"/>
            <mvc:exclude-mapping path="/**/*.jpg"/>
            <mvc:exclude-mapping path="/**/*.jpeg"/>
            <bean class="club.fsCommunity.interceptor.UserActivateInterceptor" />
        </mvc:interceptor>
         
	</mvc:interceptors>
	
	
	<!-- 静态资源映射 -->
	<mvc:resources location="/WEB-INF/js/" mapping="/js/**"/>  <!-- /WEB-INF/ 下的 资源 是不可以直接访问的，这里通过 springmvc 做中转 访问 /WEB-INF/ 下的 资源 -->
	<mvc:resources location="/WEB-INF/css/" mapping="/css/**"/>
	<mvc:resources location="/WEB-INF/res/" mapping="/res/**"/>
	<mvc:resources location="/" mapping="/**/*.js"/>
	<mvc:resources location="/" mapping="/**/*.css"/>
	
</beans>