<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.fsCommunity.mapper.EnrollMapper" >
  <resultMap id="BaseResultMap" type="club.fsCommunity.pojo.Enroll" >
    <id column="enroll_id" property="enrollId" jdbcType="VARCHAR" />
    <id column="game_id" property="gameId" jdbcType="VARCHAR" />
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="POSITION" property="position" jdbcType="VARCHAR" />
    <result column="rating" property="rating" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="enroll_date" property="enrollDate" jdbcType="TIMESTAMP" />
    <result column="signup_game_name" property="signupGameName" jdbcType="VARCHAR" />
    <result column="signup_user_game_name" property="signupUserGameName" jdbcType="VARCHAR" />
    <result column="ability_score" property="abilityScore" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="club.fsCommunity.pojo.Enroll" extends="BaseResultMap" >
    <result column="descr" property="descr" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    enroll_id, game_id, user_id, POSITION, rating, status, enroll_date, signup_game_name, 
    signup_user_game_name, ability_score
  </sql>
  <sql id="Blob_Column_List" >
    descr
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="club.fsCommunity.pojo.EnrollExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from enroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="club.fsCommunity.pojo.EnrollExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from enroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="club.fsCommunity.pojo.EnrollKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from enroll
    where enroll_id = #{enrollId,jdbcType=VARCHAR}
      and game_id = #{gameId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="club.fsCommunity.pojo.EnrollKey" >
    delete from enroll
    where enroll_id = #{enrollId,jdbcType=VARCHAR}
      and game_id = #{gameId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="club.fsCommunity.pojo.EnrollExample" >
    delete from enroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="club.fsCommunity.pojo.Enroll" >
    insert into enroll (enroll_id, game_id, user_id, 
      POSITION, rating, status, 
      enroll_date, signup_game_name, signup_user_game_name, 
      ability_score, descr)
    values (#{enrollId,jdbcType=VARCHAR}, #{gameId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{rating,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{enrollDate,jdbcType=TIMESTAMP}, #{signupGameName,jdbcType=VARCHAR}, #{signupUserGameName,jdbcType=VARCHAR}, 
      #{abilityScore,jdbcType=INTEGER}, #{descr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="club.fsCommunity.pojo.Enroll" >
    insert into enroll
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="enrollId != null" >
        enroll_id,
      </if>
      <if test="gameId != null" >
        game_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="position != null" >
        POSITION,
      </if>
      <if test="rating != null" >
        rating,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="enrollDate != null" >
        enroll_date,
      </if>
      <if test="signupGameName != null" >
        signup_game_name,
      </if>
      <if test="signupUserGameName != null" >
        signup_user_game_name,
      </if>
      <if test="abilityScore != null" >
        ability_score,
      </if>
      <if test="descr != null" >
        descr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="enrollId != null" >
        #{enrollId,jdbcType=VARCHAR},
      </if>
      <if test="gameId != null" >
        #{gameId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="rating != null" >
        #{rating,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="enrollDate != null" >
        #{enrollDate,jdbcType=TIMESTAMP},
      </if>
      <if test="signupGameName != null" >
        #{signupGameName,jdbcType=VARCHAR},
      </if>
      <if test="signupUserGameName != null" >
        #{signupUserGameName,jdbcType=VARCHAR},
      </if>
      <if test="abilityScore != null" >
        #{abilityScore,jdbcType=INTEGER},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="club.fsCommunity.pojo.EnrollExample" resultType="java.lang.Integer" >
    select count(*) from enroll
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update enroll
    <set >
      <if test="record.enrollId != null" >
        enroll_id = #{record.enrollId,jdbcType=VARCHAR},
      </if>
      <if test="record.gameId != null" >
        game_id = #{record.gameId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null" >
        POSITION = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.rating != null" >
        rating = #{record.rating,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.enrollDate != null" >
        enroll_date = #{record.enrollDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.signupGameName != null" >
        signup_game_name = #{record.signupGameName,jdbcType=VARCHAR},
      </if>
      <if test="record.signupUserGameName != null" >
        signup_user_game_name = #{record.signupUserGameName,jdbcType=VARCHAR},
      </if>
      <if test="record.abilityScore != null" >
        ability_score = #{record.abilityScore,jdbcType=INTEGER},
      </if>
      <if test="record.descr != null" >
        descr = #{record.descr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update enroll
    set enroll_id = #{record.enrollId,jdbcType=VARCHAR},
      game_id = #{record.gameId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      POSITION = #{record.position,jdbcType=VARCHAR},
      rating = #{record.rating,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      enroll_date = #{record.enrollDate,jdbcType=TIMESTAMP},
      signup_game_name = #{record.signupGameName,jdbcType=VARCHAR},
      signup_user_game_name = #{record.signupUserGameName,jdbcType=VARCHAR},
      ability_score = #{record.abilityScore,jdbcType=INTEGER},
      descr = #{record.descr,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update enroll
    set enroll_id = #{record.enrollId,jdbcType=VARCHAR},
      game_id = #{record.gameId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      POSITION = #{record.position,jdbcType=VARCHAR},
      rating = #{record.rating,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      enroll_date = #{record.enrollDate,jdbcType=TIMESTAMP},
      signup_game_name = #{record.signupGameName,jdbcType=VARCHAR},
      signup_user_game_name = #{record.signupUserGameName,jdbcType=VARCHAR},
      ability_score = #{record.abilityScore,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="club.fsCommunity.pojo.Enroll" >
    update enroll
    <set >
      <if test="position != null" >
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="rating != null" >
        rating = #{rating,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="enrollDate != null" >
        enroll_date = #{enrollDate,jdbcType=TIMESTAMP},
      </if>
      <if test="signupGameName != null" >
        signup_game_name = #{signupGameName,jdbcType=VARCHAR},
      </if>
      <if test="signupUserGameName != null" >
        signup_user_game_name = #{signupUserGameName,jdbcType=VARCHAR},
      </if>
      <if test="abilityScore != null" >
        ability_score = #{abilityScore,jdbcType=INTEGER},
      </if>
      <if test="descr != null" >
        descr = #{descr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where enroll_id = #{enrollId,jdbcType=VARCHAR}
      and game_id = #{gameId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="club.fsCommunity.pojo.Enroll" >
    update enroll
    set POSITION = #{position,jdbcType=VARCHAR},
      rating = #{rating,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      enroll_date = #{enrollDate,jdbcType=TIMESTAMP},
      signup_game_name = #{signupGameName,jdbcType=VARCHAR},
      signup_user_game_name = #{signupUserGameName,jdbcType=VARCHAR},
      ability_score = #{abilityScore,jdbcType=INTEGER},
      descr = #{descr,jdbcType=LONGVARCHAR}
    where enroll_id = #{enrollId,jdbcType=VARCHAR}
      and game_id = #{gameId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="club.fsCommunity.pojo.Enroll" >
    update enroll
    set POSITION = #{position,jdbcType=VARCHAR},
      rating = #{rating,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      enroll_date = #{enrollDate,jdbcType=TIMESTAMP},
      signup_game_name = #{signupGameName,jdbcType=VARCHAR},
      signup_user_game_name = #{signupUserGameName,jdbcType=VARCHAR},
      ability_score = #{abilityScore,jdbcType=INTEGER}
    where enroll_id = #{enrollId,jdbcType=VARCHAR}
      and game_id = #{gameId,jdbcType=VARCHAR}
      and user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>