<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="club.fsCommunity.mapper.GameMapper" >
  <resultMap id="BaseResultMap" type="club.fsCommunity.pojo.Game" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="apply_count" property="applyCount" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
    <result column="launch_user_id" property="launchUserId" jdbcType="VARCHAR" />
    <result column="sponsor_name" property="sponsorName" jdbcType="VARCHAR" />
    <result column="undertake_name" property="undertakeName" jdbcType="VARCHAR" />
    <result column="support_name" property="supportName" jdbcType="VARCHAR" />
    <result column="sign_up_line" property="signUpLine" jdbcType="TIMESTAMP" />
    <result column="launch_date" property="launchDate" jdbcType="TIMESTAMP" />
    <result column="edge" property="edge" jdbcType="VARCHAR" />
    <result column="launch_user_name" property="launchUserName" jdbcType="VARCHAR" />
    <result column="group_status" property="groupStatus" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="club.fsCommunity.pojo.Game" extends="BaseResultMap" >
    <result column="descr" property="descr" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, NAME, apply_count, STATUS, start_date, end_date, launch_user_id, sponsor_name, 
    undertake_name, support_name, sign_up_line, launch_date, edge, launch_user_name, 
    group_status
  </sql>
  <sql id="Blob_Column_List" >
    descr
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="club.fsCommunity.pojo.GameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="club.fsCommunity.pojo.GameExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from game
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from game
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="club.fsCommunity.pojo.GameExample" >
    delete from game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="club.fsCommunity.pojo.Game" >
    insert into game (id, NAME, apply_count, 
      STATUS, start_date, end_date, 
      launch_user_id, sponsor_name, undertake_name, 
      support_name, sign_up_line, launch_date, 
      edge, launch_user_name, group_status, 
      descr)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{applyCount,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{launchUserId,jdbcType=VARCHAR}, #{sponsorName,jdbcType=VARCHAR}, #{undertakeName,jdbcType=VARCHAR}, 
      #{supportName,jdbcType=VARCHAR}, #{signUpLine,jdbcType=TIMESTAMP}, #{launchDate,jdbcType=TIMESTAMP}, 
      #{edge,jdbcType=VARCHAR}, #{launchUserName,jdbcType=VARCHAR}, #{groupStatus,jdbcType=INTEGER}, 
      #{descr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="club.fsCommunity.pojo.Game" >
    insert into game
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="applyCount != null" >
        apply_count,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="startDate != null" >
        start_date,
      </if>
      <if test="endDate != null" >
        end_date,
      </if>
      <if test="launchUserId != null" >
        launch_user_id,
      </if>
      <if test="sponsorName != null" >
        sponsor_name,
      </if>
      <if test="undertakeName != null" >
        undertake_name,
      </if>
      <if test="supportName != null" >
        support_name,
      </if>
      <if test="signUpLine != null" >
        sign_up_line,
      </if>
      <if test="launchDate != null" >
        launch_date,
      </if>
      <if test="edge != null" >
        edge,
      </if>
      <if test="launchUserName != null" >
        launch_user_name,
      </if>
      <if test="groupStatus != null" >
        group_status,
      </if>
      <if test="descr != null" >
        descr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="applyCount != null" >
        #{applyCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="launchUserId != null" >
        #{launchUserId,jdbcType=VARCHAR},
      </if>
      <if test="sponsorName != null" >
        #{sponsorName,jdbcType=VARCHAR},
      </if>
      <if test="undertakeName != null" >
        #{undertakeName,jdbcType=VARCHAR},
      </if>
      <if test="supportName != null" >
        #{supportName,jdbcType=VARCHAR},
      </if>
      <if test="signUpLine != null" >
        #{signUpLine,jdbcType=TIMESTAMP},
      </if>
      <if test="launchDate != null" >
        #{launchDate,jdbcType=TIMESTAMP},
      </if>
      <if test="edge != null" >
        #{edge,jdbcType=VARCHAR},
      </if>
      <if test="launchUserName != null" >
        #{launchUserName,jdbcType=VARCHAR},
      </if>
      <if test="groupStatus != null" >
        #{groupStatus,jdbcType=INTEGER},
      </if>
      <if test="descr != null" >
        #{descr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="club.fsCommunity.pojo.GameExample" resultType="java.lang.Integer" >
    select count(*) from game
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update game
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.applyCount != null" >
        apply_count = #{record.applyCount,jdbcType=INTEGER},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.startDate != null" >
        start_date = #{record.startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null" >
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.launchUserId != null" >
        launch_user_id = #{record.launchUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.sponsorName != null" >
        sponsor_name = #{record.sponsorName,jdbcType=VARCHAR},
      </if>
      <if test="record.undertakeName != null" >
        undertake_name = #{record.undertakeName,jdbcType=VARCHAR},
      </if>
      <if test="record.supportName != null" >
        support_name = #{record.supportName,jdbcType=VARCHAR},
      </if>
      <if test="record.signUpLine != null" >
        sign_up_line = #{record.signUpLine,jdbcType=TIMESTAMP},
      </if>
      <if test="record.launchDate != null" >
        launch_date = #{record.launchDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.edge != null" >
        edge = #{record.edge,jdbcType=VARCHAR},
      </if>
      <if test="record.launchUserName != null" >
        launch_user_name = #{record.launchUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.groupStatus != null" >
        group_status = #{record.groupStatus,jdbcType=INTEGER},
      </if>
      <if test="record.descr != null" >
        descr = #{record.descr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update game
    set id = #{record.id,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      apply_count = #{record.applyCount,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=INTEGER},
      start_date = #{record.startDate,jdbcType=TIMESTAMP},
      end_date = #{record.endDate,jdbcType=TIMESTAMP},
      launch_user_id = #{record.launchUserId,jdbcType=VARCHAR},
      sponsor_name = #{record.sponsorName,jdbcType=VARCHAR},
      undertake_name = #{record.undertakeName,jdbcType=VARCHAR},
      support_name = #{record.supportName,jdbcType=VARCHAR},
      sign_up_line = #{record.signUpLine,jdbcType=TIMESTAMP},
      launch_date = #{record.launchDate,jdbcType=TIMESTAMP},
      edge = #{record.edge,jdbcType=VARCHAR},
      launch_user_name = #{record.launchUserName,jdbcType=VARCHAR},
      group_status = #{record.groupStatus,jdbcType=INTEGER},
      descr = #{record.descr,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update game
    set id = #{record.id,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      apply_count = #{record.applyCount,jdbcType=INTEGER},
      STATUS = #{record.status,jdbcType=INTEGER},
      start_date = #{record.startDate,jdbcType=TIMESTAMP},
      end_date = #{record.endDate,jdbcType=TIMESTAMP},
      launch_user_id = #{record.launchUserId,jdbcType=VARCHAR},
      sponsor_name = #{record.sponsorName,jdbcType=VARCHAR},
      undertake_name = #{record.undertakeName,jdbcType=VARCHAR},
      support_name = #{record.supportName,jdbcType=VARCHAR},
      sign_up_line = #{record.signUpLine,jdbcType=TIMESTAMP},
      launch_date = #{record.launchDate,jdbcType=TIMESTAMP},
      edge = #{record.edge,jdbcType=VARCHAR},
      launch_user_name = #{record.launchUserName,jdbcType=VARCHAR},
      group_status = #{record.groupStatus,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="club.fsCommunity.pojo.Game" >
    update game
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="applyCount != null" >
        apply_count = #{applyCount,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="startDate != null" >
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null" >
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="launchUserId != null" >
        launch_user_id = #{launchUserId,jdbcType=VARCHAR},
      </if>
      <if test="sponsorName != null" >
        sponsor_name = #{sponsorName,jdbcType=VARCHAR},
      </if>
      <if test="undertakeName != null" >
        undertake_name = #{undertakeName,jdbcType=VARCHAR},
      </if>
      <if test="supportName != null" >
        support_name = #{supportName,jdbcType=VARCHAR},
      </if>
      <if test="signUpLine != null" >
        sign_up_line = #{signUpLine,jdbcType=TIMESTAMP},
      </if>
      <if test="launchDate != null" >
        launch_date = #{launchDate,jdbcType=TIMESTAMP},
      </if>
      <if test="edge != null" >
        edge = #{edge,jdbcType=VARCHAR},
      </if>
      <if test="launchUserName != null" >
        launch_user_name = #{launchUserName,jdbcType=VARCHAR},
      </if>
      <if test="groupStatus != null" >
        group_status = #{groupStatus,jdbcType=INTEGER},
      </if>
      <if test="descr != null" >
        descr = #{descr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="club.fsCommunity.pojo.Game" >
    update game
    set NAME = #{name,jdbcType=VARCHAR},
      apply_count = #{applyCount,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      launch_user_id = #{launchUserId,jdbcType=VARCHAR},
      sponsor_name = #{sponsorName,jdbcType=VARCHAR},
      undertake_name = #{undertakeName,jdbcType=VARCHAR},
      support_name = #{supportName,jdbcType=VARCHAR},
      sign_up_line = #{signUpLine,jdbcType=TIMESTAMP},
      launch_date = #{launchDate,jdbcType=TIMESTAMP},
      edge = #{edge,jdbcType=VARCHAR},
      launch_user_name = #{launchUserName,jdbcType=VARCHAR},
      group_status = #{groupStatus,jdbcType=INTEGER},
      descr = #{descr,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="club.fsCommunity.pojo.Game" >
    update game
    set NAME = #{name,jdbcType=VARCHAR},
      apply_count = #{applyCount,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=INTEGER},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      launch_user_id = #{launchUserId,jdbcType=VARCHAR},
      sponsor_name = #{sponsorName,jdbcType=VARCHAR},
      undertake_name = #{undertakeName,jdbcType=VARCHAR},
      support_name = #{supportName,jdbcType=VARCHAR},
      sign_up_line = #{signUpLine,jdbcType=TIMESTAMP},
      launch_date = #{launchDate,jdbcType=TIMESTAMP},
      edge = #{edge,jdbcType=VARCHAR},
      launch_user_name = #{launchUserName,jdbcType=VARCHAR},
      group_status = #{groupStatus,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>